.contact{
   background: $color-primary;
   background-size: contain;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 26vh;
   @media only screen and (min-width : 1024px) {
      height: 100vh;
   }

   &__title{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;

      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
         margin-left: 108px;
      }
      @media only screen and (min-device-width : 1024px)  {
         margin-left: 21px;
      }
      img{
         width: 40px;
         height: 40px;
      }
      h2{
         font-size: 1.5rem;
         color: $color-secondary;
         margin-left: 50px;
         font-family:'Roboto';
      }
   }
   
   &__information{
      border-left: 3px solid $color-secondary;
      border-right: 3px solid $color-secondary;
      padding: 15px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
         color: #fff;
         font-weight: bold;
         font-size: 0.8rem; 
         margin-bottom: 10px;  
         @media only screen and (min-width : 1024px) {
            font-size: 1.1rem; 
         }
      }
      a{
         text-decoration: none;
         color: #fff;
         cursor: pointer;
      }
   }

   &__reseau{
      display: flex;
      width: 28%;
      justify-content: space-around;
      img{
         width: 30px;
      }
   }
}