.about{
   background-color: $color-primary;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 80vh;
   @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
      justify-content: center;
      height: 100vh;
   }
   @media only screen and (min-width : 1024px) {
      justify-content: center;
      height: 100vh;
   }


   &__container{
      padding: 20px;
      @media only screen and (min-width : 1024px) {
         height: 60vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
      @media only screen and (min-width : 1200px) {
         width: 1200px;
      }
   }
   

   &__title{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;

      img{
         width: 40px;
         height: 40px;
      }
      h2{
         font-size: 1.5rem;
         color: $color-secondary;
         margin-left: 50px;
         font-family:'Roboto';
         @media only screen and (min-width : 1024px) {
            font-size: 3rem;
         }
      }
   }

   &__content{
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
         flex-direction: row;
      }
      @media only screen and (min-device-width : 1024px)  {
         flex-direction: row;
      }
   }

   &__description{
      @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
         width: 50%;
         p{
            font-size: 1.4rem;
         }
      }
      @media only screen and (min-device-width : 1024px)  {
         width: 50%;
         p{
            font-size: 1.4rem;
         }
      }

      p{
         margin: 0px 0px 15px;
         font-size: 1.1rem;
         color: #fff;
         font-family: 'Roboto';
      }

      ul{
         display: grid;
         grid-template-columns: repeat(2, minmax(140px, 200px));
         gap: 0px 10px;
         padding: 0px;
         margin: 20px 0px 0px;
         overflow: hidden;
         list-style: none;
         li{
            font-size: 1rem;
            color: #fff;;
            font-family: 'Roboto';
         }
      }

   }

   &__image{
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
         width: 50%;
      }
      @media only screen and (min-device-width : 1024px)  {
         width: 50%;
      }

      .bloc1{
         width: 100px;
         height: 100px;
         background: linear-gradient(134.93deg, #355D7C 54.43%, #EE5F2D 98.24%);
         transform: rotate(45deg);
         position: absolute;
         margin-top: 100px;
         @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
            width: 200px;
            height: 200px;
         }
         @media only screen and (min-device-width : 1024px)  {
            width: 300px;
            height: 300px;
         }
      }
      .bloc2{
         width: 100px;
         height: 100px;
         background-color: #fff;
         transform: rotate(45deg);
         position: relative;
         bottom: -30px;
         @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
            width: 200px;
            height: 200px;
         }
         @media only screen and (min-device-width : 1024px)  {
            width: 300px;
            height: 300px;
         }

         img{
            transform: rotate(316deg);
            border-radius: 100%;
            width: 100px;
            @media only screen and (min-device-width : 768px)  and (max-device-width : 1024px)  {
               width: 150px;
               position: absolute;
               top: 51px;
               left: 51px;
            }
            @media only screen and (min-device-width : 1024px)  {
               width: 250px;
               position: absolute;
               top: 51px;
               left: 51px;
            }
         }
      }
   }

}